.widget-books
{
    margin: 16px;
    padding: 0;

    list-style: none;
}

.widget-books li
{
    height: 96px;
    padding: 15px 0;

    border-bottom: 2px solid #ebebeb;
}

.widget-books .img 
{
    float: left;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50%;
    background-clip: padding-box;
}

.widget-books .details
{
    margin-left: 60px;
}

.widget-books .details > .name > a 
{
    font-weight: 700;
    color: #212121;
}

.current
{
    position: relative;
}

.btn-edit-exchange 
{
    position: absolute;
    bottom: 14px;
}

.weather-box-large .current .temp-wrapper
{
    margin-left: 0;
}

.weather-box-large .current .temp-out-wrapper
{
    text-align: center;

    margin: 20px auto 0;
    width: 220px;
}

.weather-box-large .current .temp-wrapper .temperature
{
    text-align: center;
}

.current .profile-img
{
    border-radius: 18%;
    background-clip: padding-box;
    width: 110px;
    height: 110px;
    float: left;
    margin-right: 15px;
    border: 5px solid #fff;
}
.register-page #login-full-wrapper 
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/register-img.jpg) no-repeat center;
    background-size: cover; 
}